# fly.toml app configuration file generated for server-cool-snowflake-7302 on 2025-11-26T09:58:57-10:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'server-cool-snowflake-7302'
primary_region = 'sin'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
